.head{
    color:white;
    background-color:#076CEB;
    height: 10%;
}
.icon-set{
    width:180px;
}
.fa-google{
    margin-top: 5px;
}
.bi-facebook:hover{
  color: #75D1F8;
}
.fa-google:hover{
  color: #75D1F8;
}
.bi-instagram:hover{
  color: #75D1F8;

}
.bi-twitter:hover{
  color: #75D1F8;

}
.bi-heart-fill:hover{
  color: #75D1F8;

}
.bi-person-fill:hover{
  color: #75D1F8;

}

.Third-div{
    background-image: url(./images/Back-img/shop-slider-bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height:80vh;
    position:relative;
    
    
}
@media(min-width:100%) {
  .Third-div{
  max-height:40vh;
  }
}
.third-part{
    width: 30%;
    height: 50%;
    padding-top: 12%;
   margin-left:20%;
}
.btn1{
    width:1;
}
    /* WebBD##1-2.4G
    WebBD##!-5g */


/* CSS */
.button-1 {
  align-items: center;
  background-image: linear-gradient(144deg,#40d2ff, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 40%;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-1:active,
.button-1:hover {
  outline: 0;
}

.button-1 span {
  background-color: rgb(5, 6, 45);
  padding: 10% 2%;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-1:hover span {
  background: none;
}


@media (min-width:50%){
  .button-1 {
    font-size:10%;
    min-width: 200%;
  }
}

.part-1{
  background-image: url(images/Back-img/feature-img-1.jpg);
  background-repeat: no-repeat;
  width:50%;
  height: 100%;
  

}
.part-2{
  background-image: url(images/Back-img/feature-img-2.jpg);
  background-repeat: no-repeat;
  width:50%;
  height: 100%;
}
.w{
font-weight: bold;
color:#003242;
}
.o{
  line-height: 100%;
}
.h{
 color: #11495c;
}

.e{
  color:#1272ED;
}
.t{
  margin-bottom: 50%;
  margin-left:10%;
  margin-top:13%;
}
.t1{
  text-align: right;
  top:20%;
  margin-right: 10%;
}
.our{
  width:100%;
  height: 100%;
  
  background-image:url(images/Logo-img/leaf.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.pic{
  width:10%;
  height:10%;
  
  
}
.pic-div{
  width:10%;
  height:10%;
  text-align:center;
}
.yyr{
  margin-left:20%;
}